.Weather {
  max-width: 800px;
  margin: 20px auto;
}
.weather .overview {
  margin: 10px 0;
}
.overview {
  margin-bottom: 30px;
}
.Weather h3 {
  line-height: 29px;
  font-weight: Normal;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 20px;
}
.Weather img {
  margin-left: 40px;
  margin-bottom: 25px;
}
.Weather h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;

  color: #272142;
}
.Weather h2 {
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
  color: #272142;
  margin-bottom: 7px;
}
.Weather .weather-description {
  font-size: 20px;
  margin-bottom: 7px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather .btn {
  background: #272142;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}
.Weather .btn:hover {
  background: #ad92f3;
  color: #272142;
}
.Weather .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.Weather .weather-title {
  line-height: 29px;
  font-weight: Normal;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 20px;
}

li {
  font-weight: 500;
  margin-bottom: 5px;
  color: #272142;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-temperature {
  margin-top: 30px;
}
.Weather .WeatherInfo-canvas {
  margin-top: -30px;
  margin-left: 70px;
}
.temperature {
  font-size: 60px;
  line-height: 36px;
  font-weight: 700;
  position: relative;
  line-height: 1;
  bottom: -35px;
  margin-left: 150px;
}
.Weather .unit {
  letter-spacing: -2px;
  position: relative;
  bottom: -10px;
  text-decoration: none;
  color: #272142;
  font-size: 17px;
  margin-left: -5px;
  font-weight: bold;
}
.weather-temperature .active {
  color: #272142;
  cursor: default;
}
.weather .active:hover {
  text-decoration: none;
}
.weather-forecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 20px;
}
.weather-forecast .forecast-time {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #272142;
}

.weather-forecast .forecast-temperature {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #3d2378;
  font-weight: 600;
}
.weather-forecast .forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}
